/* ------------------------------------------------------------------------------------------ */
/* INICIO */
/* ------------------------------------------------------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* ------------------------------------------------------------------------------------------ */
/* COMPONENTES REUSABLES */
/* ------------------------------------------------------------------------------------------ */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* ------------------------------------------------------------------------------------------ */
/* HEADINGS */
/* ------------------------------------------------------------------------------------------ */

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #f3efe0;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  font-weight: bold;
  word-spacing: 3px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  letter-spacing: 3px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e25;
  content: " ";
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 6px;
}

/* ------------------------------------------------------------------------------------------ */
/* BOTONES */
/* ------------------------------------------------------------------------------------------ */

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300px;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  cursor: pointer;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  border: 1px solid #e67e25;
  background-color: #e67e25;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e25;
  color: #e67e25;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}

/* ------------------------------------------------------------------------------------------ */
/* PÁRRAFOS */
/* ------------------------------------------------------------------------------------------ */

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ------------------------------------------------------------------------------------------ */
/* ICONOS */
/* ------------------------------------------------------------------------------------------ */

.icon-small {
  display: inline-block;
  width: 25px;
  font-size: 180%;
  line-height: 180%;
  vertical-align: baseline;
  margin-right: 30px;
}

/* ------------------------------------------------------------------------------------------ */
/* CABECERA */
/* ------------------------------------------------------------------------------------------ */

.transparencia {
  background-image: url(img/main-img.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.cabecera {
  color: #e67e25;
  position: absolute;
  width: 1140;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 15px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e25;
  color: #e67e25;
}

.sticky_id {
  background-color: #f3efe0;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.sticky .main-nav {
  margin-top: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 8px 10px;
  color: #e67e25;
  border-radius: 230%;
}

/* ------------------------------------------------------------------------------------------ */
/* QUIÉN SOY */
/* ------------------------------------------------------------------------------------------ */

.quien-soy {
  margin-bottom: 20px;
}

.texto-alineado {
  text-align: justify;
}

.logo-centrado {
  width: 200px;
  height: 200px;
  vertical-align: middle;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}

.quien-soy h3 {
  color: #e67e25; /* Verde */
}

.quien-soy h4 {
  font-size: 85%;
  margin-bottom: 5px;
}

.quien-soy p {
  font-size: 85%;
  margin-bottom: 10px;
  line-height: 1.4;
}

.ion-social-linkedin-outline {
  color: #3b5998;
}

.ion-social-github-outline {
  color: rgb(17, 16, 16);
}

.ion-social-facebook-outline {
  color: #3b5998;
}

.ion-social-twitter-outline {
  color: #55acee;
}

.ion-social-instagram-outline {
  color: #222324;
}

.ion-ios-email-outline {
  color: #3b5998;
}

/* ------------------------------------------------------------------------------------------ */
/* ESTUDIOS Y CERTIFICACIONES */
/* ------------------------------------------------------------------------------------------ */

.estudios-y-certificaciones {
  background-color: white;
  margin-bottom: 20px;
}

.titulo-estudio {
  color: #e67e25;
}

/* ------------------------------------------------------------------------------------------ */
/* EXPERIENCIA PROFESIONAL */
/* ------------------------------------------------------------------------------------------ */

.experiencia-profesional {
  margin-bottom: 20px;
}

.experiencia-profesional h4 {
  font-size: 75%;
  margin-bottom: 5px;
}

.experiencia-profesional ul li {
  list-style: none;
  line-height: 1.4;
}

.fecha-trabajo {
  font-weight: bold;
}

.empresa {
  color: #e67e25;
  font-weight: bold;
}

p.responsabilidades {
  font-weight: bold;
  padding-bottom: 5px;
  color: #7b7b7b;
}

/* ------------------------------------------------------------------------------------------ */
/* CONOCIMIENTOS */
/* ------------------------------------------------------------------------------------------ */

.conocimientos {
  background-color: white;
  margin-bottom: 20px;
}

.conocimientos p {
  color: #e67e25;
}

.conocimientos .parrafo-conocimientos {
  display: inline-block;
  color: #7b7b7b;
}

.ion-ios-star {
  color: #e67e25;
  float: right;
}

.ion-ios-star-outline {
  color: #e67e25;
  float: right;
}

/* ------------------------------------------------------------------------------------------ */
/* SOBRE MI */
/* ------------------------------------------------------------------------------------------ */

.sobre-mi {
  margin-bottom: 20px;
}

.sobre-mi h3 {
  color: #e67e25;
}

.sobre-mi ul li {
  list-style: none;
  line-height: 1.5;
}

/* ------------------------------------------------------------------------------------------ */
/* Capa para mostrar mensajes de error */
/* ------------------------------------------------------------------------------------------ */

div.alert-message {
  display: none;
  padding: 13px 12px 12px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  background-color: #2ba6cb;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  position: relative;
}
div.alert-message .box-icon {
  display: block;
  float: left;
  background-image: url("img/icon.png");
  width: 30px;
  height: 25px;
  margin-top: -2px;
  background-position: -8px -8px;
}
div.alert-message p {
  margin: 0px;
}
div.alert-message.success {
  background-color: #5da423;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
div.alert-message.success .box-icon {
  background-position: -48px -8px;
}
div.alert-message.error {
  background-color: #c60f13;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
div.alert-message.error .box-icon {
  background-position: -128px -8px;
}
div.alert-message a.close {
  color: #fff;
  position: absolute;
  right: 4px;
  top: -1px;
  font-size: 17px;
  padding: 4px;
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------------ */
/* CONTACTO */
/* ------------------------------------------------------------------------------------------ */

.contact-form {
  background-image: url(img/fondo2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

/* ------------------------------------------------------------------------------------------ */
/* PIÉ DE PÁGINA */
/* ------------------------------------------------------------------------------------------ */

footer {
  background-color: #e67e25;
  padding: 25px;
  font-size: 80%;
  text-align: center;
  color: #fff;
}
